<html>
    <body>
        <div>
            <p>{{ headerText }}</p>
            <div>
                {% for item in mahList %}
                    <p>{{ item.id }}</p> <p>{{ item.name }}</p> <p>{{ item.price }}</p>
                {% endfor %}
            </div>
            <div>
                {{ myID }}
            </div>
        </div>
    </body>
</html>